################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EmployeeManagement_sln/EmployeeManagement.API/bin/Debug/net8.0
/EmployeeManagement_sln/EmployeeManagement.API/obj
/EmployeeManagement_sln/.vs
